* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* css for Detailed data */
#DetailNav {
    height: 80px;
    background-color: #E16120;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 30px;
    color: white;
    font-size: large;
    cursor: pointer;
}

#DetailNav .Dicons a i {
    color: white;
    transition: transform 0.3s ease;
}

#DetailNav .Dicons a i:hover {
    transform: scale(1.25);
    color: black;
}


#DetailNav .Dtitle {
    padding: 0px 15px;
}

body h1,
.line,
.Details {
    margin: 20px;
}

*.line {
    width: 90px;
    height: 5px;
    background-color: #E16120;
    position: absolute;
    left: 25px;
    top: 820px;
}

.Details {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-top: 50px;
}

.DetailContainer .cardImage img {
    height: 85vh;
}

.cardDetails h1 {
    color: #E16120;
    margin-bottom: 0px;
}

.cardDetails .h1line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #E16120;
}

.cardDetails .Ingredients {
    display: inline-block;
    width: 35vw;
    height: auto;
    background-color: #E16120;
    color: white;
    padding: 20px;
    margin: 15px 0px;
}

.cardDetails .Ingredients span {
    padding-left: 28px;
    padding-top: 10px;
}

.Ingredients ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Ingredients ol li {
    margin: 10px;
    padding: 10px;
}

.cardDetails .Tags ul li {
    list-style: none;
    border: 2px solid #E16120;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    color: #E16120;
    font-weight: 700;
}

.cardDetails .Tags {
    display: flex;
    align-items: center;
}

.cardDetails .Tags ul {
    margin: 7px;
    padding: 5px;
}

.cardDetails .D_Category {
    padding: 10px 0px;
    margin: 15px 0px;
}

.cardDetails .source {
    padding: 10px 0px;
    margin: 15px 0px;
}

.DetailContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.measure {
    padding: 20px;
    margin: 20px;
}

.measure .measureContainer {
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin: 10px 0px;
}

.measure .measureContainer ul{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.measure .measureContainer ul li{
    padding: 9px;
    list-style: none;
     position: relative;
    padding-left: 25px; 
}
.measure .measureContainer ul li i{
    color: #E16120;
}

.instructions span{
    margin-left: 25px;
}

.instructions ul li{
    padding: 10px;
    list-style: none;
}
.instructions ul li i{
    color: #E16120;
}

#NavBar {
    height: 80px;
    background-color: #E16120;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header {
    z-index: 30;
    position: sticky;
    top: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#NavBar .left {
    display: flex;
    align-items: center;
}

#NavBar .left .icon {
    padding: 0px 16px;
    color: white;
}

#NavBar .left .logo h1 a {
    color: white;
    text-decoration: none;
}

#NavBar .left .logo h1:hover {
    transform: scale(1.05);
}

.right .DropDownIcon {
    padding: 0px 40px;
    background-color: #E16120;
    color: white;
}

.right .DropDownIcon i {
    font-size: 28px;
}

.DropDownIcon:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}


.banner .bannerimg img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.main h1 {
    padding: 0px 25px;
    position: relative;

}


.banner .searchCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner .search input {
    width: 400px;
    height: 70px;
    border-radius: 40px;
    font-size: large;
    padding: 0px 40px;
    color: gray;
    font-weight: 500;
    margin: 0px 20px;
    border: none;
    z-index: 10;
}

.banner .searchCont .search-icon {
    width: 70px;
    height: 70px;
    background-color: #E16120;
    border-radius: 80px;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: lighter;
    border: 2px solid white;
}

.banner .searchCont .search-icon:hover {

    background-color: white;
    color: #E16120;
    border: 2px solid #E16120;
    cursor: pointer;
    transform: translateY(-5px);
    transition: 0.3s;
}

.banner .searchCont {
    position: relative;
    top: -320px;
}

.banner .bannercont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 310px;
    color: white;
    font-size: 25px;
}

.banner {
    margin-bottom: -150px;
}

/* navbar hamburgermenu */
.DropdownMenu {
    position: absolute;
    top: 0%;
    right: 0%;
    display: inline-block;
    z-index: 20;
    width: 20vw;
    height: 90vh;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: transform 0.4s ease;
}

.DropdownMenu.show {
    transform: translateX(0);
}

.DropdownMenu ul li {
    padding: 12px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    /* light grey underline */
    font-size: 15px;
}

.DropdownMenu ul a {
    text-decoration: none;
    color: black;
}

.DropdownMenu ul li:hover {
    color: #E16120;
    cursor: pointer;
}

.DropdownMenu .icon {
    position: absolute;
    right: 0%;
    font-size: 30px;
    color: #E16120;
    padding: 0px 10px;
}

.DropdownMenu .icon:hover {
    color: black;
    transform: translateY(2px);
}

/* loading icon */
.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #eee;
    border-top-color: #E16120;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* hidden by default */
    z-index: 9999;
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* error message */
#errormsg {
    color: red;
    background-color: white;
    font-size: 20px;
    margin-top: 5px;
    padding: 0px 50px;
    border-radius: 15px;
    display: none;

}

.meal {
    margin: 10;
    padding: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.meal #mealprod {
    position: relative;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin: 20px;
}

#mealprod img {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    display: block;
}

.meal #mealprod #title {
    display: inline-block;
    height: 18px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #E16120;
    padding: 3px 5px;
    text-transform: uppercase;
    font-size: smaller;
    position: absolute;
    right: 10px;
    top: -15px;
    border-radius: 15px;
}

#mealprod #origin,
#dish {
    padding: 0px 30px;
    margin: 10px;
}

/* css for cards */
.Category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.Category .CategoryProducts {
    position: relative;
    background-color: white;
    margin: 20px;
    padding: 0px 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.Category .CategoryProducts h5 {
    z-index: 20;
    display: inline-block;
    height: 18px;
    background-color: #E16120;
    text-align: center;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    color: white;
    padding: 3px 5px;
    text-transform: uppercase;
    font-size: smaller;
    position: absolute;
    right: 10px;
    top: -15px;
}

.CategoryProducts img {
    width: 100%;
    height: auto;
    transition: transform 0.1s ease;
    border-radius: 6px;
    margin: 10px 0px;
}

.CategoryProducts img:hover {
    transform: scale(0.90)
}